@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.custom-toggle-duration {
  --animation-input: 0.2s !important;
}

button:hover {
  color: white !important;
}

.supabase-auth-ui_ui-divider {
  @apply hidden !important;
}

.supabase-auth-ui_ui-button {
  @apply mt-4 mb-4 max-w-xs self-center !important;
}

.supabase-auth-ui_ui-button:hover {
  @apply bg-primary opacity-90 !important;
}

form .c-jTXIoq-bsgKCL-direction-vertical .supabase-auth-ui_ui-button {
  @apply mt-6 max-w-xs pt-5 pb-9 self-center !important;
}
