@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.custom-toggle-duration {
  --animation-input: 0.2s !important;
}

button:hover {
  color: white !important;
}

.supabase-auth-ui_ui-divider {
  /* @apply hidden !important; */
  display: none !important;
}

/* .supabase-auth-ui_ui-button { */
.c-bOcPnF-iwjZXY-color-default {
  /* @apply mt-4 mb-4 max-w-xs self-center !important; */
  @apply btn btn-primary text-white rounded-full;
  max-width: 20rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  align-self: center !important;
}

.c-bOcPnF-iwjZXY-color-default:hover {
  /* @apply bg-primary opacity-90 !important; */
  --tw-bg-opacity: 1 !important;
  background-color: var(
    --fallback-p,
    oklch(var(--p) / var(--tw-bg-opacity))
  ) !important;
  opacity: 0.9 !important;
}

form .c-jTXIoq-bsgKCL-direction-vertical .supabase-auth-ui_ui-button {
  /* @apply mt-6 max-w-xs pt-5 pb-9 self-center !important; */
  @apply btn btn-primary text-white rounded-full;
  max-width: 20rem !important;
  margin-top: 1.5rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 2.25rem !important;
  align-self: center !important;
}

.supabase-auth-ui_ui-input {
  @apply input input-lg input-bordered border-4 input-primary w-full max-w-lg rounded-full text-black;
}
